neutron-square-q.fee
neutron-square_*.ppl
neutron-square_*.dat
neutron_square_*.dat
neutron-square-fits.ppl
neutron-square-einf.ppl
neutron-square-e2.ppl
neutron-square-*.txt
neutron-square*.pdf
neutron-square-results.md
*.vtk
*.msh
